@font-face {
    font-family: SourceSansPro;
    src: url(logo2.ttf);
}
@font-face {
    font-family: SegoeWP;
    src: url(кнопка.ttf);
}
@font-face {
    font-family: SegoeWPN;
    src: url(SegoeWPN.ttf);
}